<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />



    <uses-feature android:name="android.hardware.camera" android:required="true" />




    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/tceit"
        android:label="TCE Hall Booking"
        android:roundIcon="@drawable/tceit"
        android:supportsRtl="true"
        android:theme="@style/Theme.Emptyactivity"
        tools:targetApi="31">

        <!-- Set ProgressActivity as the launcher activity -->
        <activity
            android:name=".ProgressActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Define other activities -->

        <activity android:name=".MainActivity"/>
        <activity android:name=".HallSelectionActivity" />
        <activity android:name=".NextActivity" />
        <activity android:name=".Schedule"/>
        <activity android:name=".BookingActivity" />
        <activity android:name=".SpecialBookingActivity" />
        <activity android:name=".AdminLoginActivity"></activity>
        <activity android:name=".AdminDashboardActivity"></activity>
        <activity android:name=".AboutUsActivity"></activity>
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".ScheduleAdmin"></activity>

    </application>
</manifest>
